@use "../functions.scss" as *;

.about-hero {
  margin-top: 130px;
  padding: ac(40px, 20px, 1024px, 1440px) 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: ac(20px, 10px, 1024px, 1440px);
  border-radius: 8px;
  background: linear-gradient(117deg, #667eea 0%, #f50057 100%);

  &__title {
    & > * {
      color: var(--white);
      font-family: var(--font);
      font-size: ac(48px, 24px, 1024px, 1440px);
      font-weight: 700;
      line-height: normal;
    }
  }

  &__descr {
    & > * {
      color: var(--white);
      font-family: var(--font);
      font-size: ac(18px, 16px, 1024px, 1440px);
      font-weight: 400;
      line-height: 1.6;
    }
  }
}
