@use "../functions.scss" as *;

.about-values {
  padding: ac(40px, 20px, 1024px, 1440px);
  margin-top: ac(50px, 25px, 1024px, 1440px);
  border-radius: 8px;
  background: #f9f9f9;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  gap: ac(20px, 12px, 1024px, 1440px);

  &__title {
    & > * {
      color: var(--black);
      font-family: var(--font);
      font-size: ac(24px, 18px, 1024px, 1440px);
      font-weight: 700;
      line-height: normal;
    }
  }

  &__cards {
    display: flex;
    align-items: center;
    gap: ac(30px, 20px, 1024px, 1440px);

    .about-values-card {
      display: flex;
      flex-direction: column;
      gap: ac(10px, 8px, 1024px, 1440px);
      padding: ac(20px, 12px, 1024px, 1440px);
      padding-left: ac(24px, 16px, 1024px, 1440px);
      border-radius: 4px;
      border-left: 4px solid #667eea;
      background: var(--white);

      &__title {
        color: var(--black);
        font-family: var(--font);
        font-size: ac(15px, 14px, 1024px, 1440px);
        font-weight: 700;
        line-height: normal;
      }

      &__descr {
        & > * {
          color: #666;
          font-family: var(--font);
          font-size: ac(14px, 12px, 1024px, 1440px);
          font-weight: 400;
          line-height: 1.6;
        }
      }
    }
  }

  @media (max-width: 551px) {
    &__cards {
      flex-direction: column;
    }
  }
}
