@use "../functions.scss" as *;

.about-mission {
  border-radius: 8px;
  padding: ac(40px, 20px, 1024px, 1440px);
  margin-top: ac(50px, 25px, 1024px, 1440px);
  background: #eee;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: ac(50px, 25px, 1024px, 1440px);

  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: ac(20px, 14px, 1024px, 1440px);

    &__title {
      & > * {
        color: var(--black);
        font-family: var(--font);
        font-size: ac(32px, 20px, 1024px, 1440px);
        font-weight: 700;
        line-height: normal;
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: ac(15px, 10px, 1024px, 1440px);

      & > * {
        color: #666;
        font-family: var(--font);
        font-size: ac(15px, 13px, 1024px, 1440px);
        font-weight: 400;
        line-height: 1.8;
      }
    }
  }

  &-img {
    flex: 1;
    max-height: 350px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
  }

  @media (max-width: 1023px) {
    flex-direction: column-reverse;
  }
}
