@use "../functions.scss" as *;

.dashboard {
  margin-top: 130px;

  &__welcome {
    color: var(--black);
    font-family: var(--font);
    font-size: ac(28px, 22px, 1024px, 1440px);
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: ac(20px, 10px, 1024px, 1440px);
    margin: ac(40px, 20px, 1024px, 1440px) 0;

    .book-btn,
    .view-btn {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: ac(20px, 14px, 1024px, 1440px);
      border-radius: 8px;
      border: 2px solid transparent;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
      transition: 0.3s;
      font-family: var(--font);
      font-size: ac(16px, 14px, 1024px, 1440px);
      font-weight: 700;
      line-height: normal;
    }

    .book-btn {
      background-color: var(--primary);
      border-color: var(--primary);
      color: var(--white);

      &:hover {
        background-color: var(--white);
        color: var(--primary);
      }
    }

    .view-btn {
      border-color: var(--primary);
      color: var(--primary);

      &:hover {
        border-color: var(--secondary);
        color: var(--secondary);
      }
    }
  }

  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: ac(30px, 20px, 1024px, 1440px);

    .dashboard-card {
      flex: 1;
      padding: ac(30px, 20px, 1024px, 1440px);
      border-radius: 8px;
      background: var(--neutral);
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);

      display: flex;
      flex-direction: column;
      gap: ac(16px, 12px, 1024px, 1440px);

      &__title {
        color: #999;
        font-family: var(--font);
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.5px;
        text-transform: uppercase;
      }

      &__value {
        color: var(--black);
        font-family: var(--font);
        font-size: ac(28px, 22px, 1024px, 1440px);
        font-weight: 700;
        line-height: normal;
      }

      &__descr {
        color: #666;
        font-family: var(--font);
        font-size: ac(14px, 12px, 1024px, 1440px);
        font-weight: 400;
        line-height: 1.6;
      }
    }
  }

  &__bookings {
    margin-top: ac(40px, 20px, 1024px, 1440px);

    &-title {
      color: var(--black);
      font-family: var(--font);
      font-size: ac(22px, 17px, 1024px, 1440px);
      font-weight: 700;
      line-height: normal;
    }

    &-cards {
      margin-top: ac(25px, 17px, 1024px, 1440px);
      display: flex;
      flex-direction: column;
      gap: ac(15px, 10px, 1024px, 1440px);

      .bookings-card {
        padding: ac(15px, 10px, 1024px, 1440px);
        background-color: var(--neutral);

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: ac(20px, 15px, 1024px, 1440px);

        &-header {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 3px;

          &__title {
            color: var(--black);
            font-family: var(--font);
            font-size: 14px;
            font-weight: 700;
            line-height: normal;
          }

          &__date {
            color: #666;
            font-family: var(--font);
            font-size: 13px;
            font-weight: 400;
            line-height: normal;
          }
        }

        &-body {
          flex: 1;
          display: flex;
          align-items: center;
          gap: ac(20px, 15px, 1024px, 1440px);

          &__status {
            flex: 1;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6px 12px;
            max-width: fit-content;
            margin-left: 5px;
            font-size: 16px;

            &.upcoming {
              color: var(--primary);
              background-color: #f0f9ff;
            }

            &.completed {
              color: #10b981;
              background-color: #f0fdf4;
            }

            &.cancelled {
              color: var(--secondary);
              background-color: #fef2f2;
            }
          }

          &__price {
            flex: 1;
            color: var(--black);
            font-family: var(--font);
            font-size: ac(16px, 14px, 1024px, 1440px);
            font-weight: 400;
            line-height: normal;
          }

          &__cancel {
            flex: 1;
            color: var(--primary);
            font-family: var(--font);
            font-size: 12px;
            font-weight: 700;
            line-height: normal;
            display: flex;
            padding: 7px;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            border: 1px solid var(--primary);
            background-color: var(--white);
            transition: 0.3s;
            cursor: pointer;

            &:hover {
              background-color: var(--primary);
              color: var(--white);
            }
          }
        }
      }
    }
  }

  @media (max-width: 551px) {
    &__buttons {
      flex-direction: column;
      align-items: stretch;
    }

    &__cards {
      flex-direction: column;
      align-items: stretch;
    }

    &__bookings {
      &-cards {
        .bookings-card {
          flex-direction: column;
          align-items: stretch;

          &-body {
            align-items: stretch;
            flex-wrap: wrap;

            &__price {
              flex: 1 1 45%;
              font-weight: 500;
              align-self: center;
              text-align: left;
            }

            &__status {
              flex: 1 1 45%;
              align-self: center;
            }
          }
        }
      }
    }
  }
}
