@use "../functions.scss" as *;

.home-hero {
  margin-top: 80px;
  padding: ac(50px, 25px, 1024px, 1440px) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 197px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;

    max-width: 658px;
    width: 100%;

    h1 {
      color: var(--black);
      font-family: var(--font);
      font-size: ac(50px, 32px, 1024px, 1440px);
      font-weight: 500;
      line-height: 1.1;
    }

    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 16px 24px;
      border-radius: 100px;
      color: var(--white);
      border: 1px solid transparent;

      font-family: var(--font);
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.15px;
      transition: 0.3s;

      background: var(--secondary);

      &:hover {
        background: var(--white);
        color: var(--secondary);
        border-color: var(--secondary);
      }
    }
  }

  &__img {
    overflow: hidden;
    border-radius: 15px;
  }

  @media (max-width: 1023px) {
    flex-direction: column-reverse;
    gap: 24px;

    &__content {
      max-width: 100%;
      gap: 15px;
    }
  }

  @media (max-width: 551px) {
    a {
      max-width: 100%;
      width: 100%;
    }
  }
}
