@use "sass:math";
@use "sass:meta";

@function strip-unit($number) {
  @if meta.type-of($number) == 'number' and not math.is-unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }
  @return $number;
}

@function ac(
  $startSize,
  $endSize,
  $minBreakpoint: 768px,
  $maxBreakpoint: 1440px
) {

  $startValue: strip-unit($startSize);
  $endValue: strip-unit($endSize);
  $minWidth: strip-unit($minBreakpoint);
  $maxWidth: strip-unit($maxBreakpoint);
  
  $viewportDiff: $maxWidth - $minWidth;
  
  @return clamp(
    #{$endSize},
    #{$endSize} + ((#{$startValue} - #{$endValue}) * (100vw - #{$minBreakpoint}) / #{$viewportDiff}),
    #{$startSize}
  );
}
