.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; 
  z-index: 9999;
  background: var(--white);
}


.loader {
  height: 80px;
  aspect-ratio: 1;
  display: grid;
}

.loader:before,
.loader:after {
  content: "";
  --c: no-repeat linear-gradient(var(--secondary) 0 0); 
  background: var(--c), var(--c);
  background-size: 25% 50%;
  animation: l5 1s infinite linear;
}

.loader:after {
  transform: scale(-1);
}

@keyframes l5 {
  0%,
  5%   {background-position:33.4% 100%,66.6% 100%}
  25%  {background-position:33.4% 100%,100% 0}
  50%  {background-position:0 0,100% 0}
  75%  {background-position:0 0,66.6% 100%}
  95%,
  100% {background-position:33.4% 100%,66.6% 100%}
}
