@use "./functions.scss" as *;

.login {
  margin-top: 130px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: ac(20px, 16px, 1024px, 1440px);

  &__title {
    & > * {
      color: var(--black);
      text-align: center;
      font-family: var(--font);
      font-size: ac(28px, 24px, 1024px, 1440px);
      font-weight: 700;
      line-height: normal;
    }
  }

  &__descr {
    margin-top: ac(11px, 8px, 1024px, 1440px);

    & > * {
      color: #999;
      text-align: center;
      font-family: var(--font);
      font-size: ac(14px, 13px, 1024px, 1440px);
      font-weight: 400;
      line-height: normal;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: ac(20px, 14px, 1024px, 1440px);

    &__input {
      display: flex;
      flex-direction: column;
      gap: ac(9px, 8px, 1024px, 1440px);

      input {
        color: var(--black);
        font-family: var(--font);
        font-size: ac(14px, 12px, 1024px, 1440px);
        padding: ac(12px, 10px, 1024px, 1440px);
        font-weight: 400;
        line-height: normal;
        border-radius: 4px;
        border: 1px solid var(--primary);
        background: var(--white);
        transition: 0.3s;

        &:focus {
          outline: none;
          border-color: var(--secondary);
        }
      }

      label {
        color: var(--black);
        font-family: var(--font);
        font-size: ac(16px, 14px, 1024px, 1440px);
        font-weight: 500;
        line-height: normal;
      }
    }

    &__btn {
      color: var(--white);
      font-family: var(--font);
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      display: flex;
      padding: 12px 12px 13px 12px;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 4px;
      background: var(--primary);
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background: var(--secondary);
      }
    }
  }

  &__bottom {
    color: #999;
    text-align: center;
    font-family: var(--font);
    font-size: ac(14px, 12px, 1024px, 1440px);
    font-weight: 400;
    line-height: normal;

    &-link {
      color: var(--primary);
      margin-left: 5px;
      transition: .3s;

      &:hover {
        text-decoration: underline;
        color: var(--secondary);
      }
    }
  }
}
